<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Webschool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <style media="screen">
    #buttn
    {
      border-radius: 25px;
    }
    </style>

  </head>
  <body class="bg-dark" style="background-size:95%; background-repeat:no-repeat;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="navbarscroll" style="color:white;">
    <div class="container-fluid">
      <a class="navbar-brand badge bg-primary text-wrap text-center fs-3" href="#" style="color:white;">WebSchool</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="HomePage.html" style="color:black;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="About.html" style="color:black;">About</a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-primary" id="buttn"><a class="nav-link active" aria-current="page" style="color:white;" href="login.html">Login</a></button>
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <div class="container">
      <div class="row bg-dark">
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Mars.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Mars</h5>
              <p class="card-text">
                Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.
              </p>
              <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=92bdf20f-3655-4f7e-9780-2f01cc59d32f" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Lungs.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Lungs</h5>
              <p class="card-text">The lungs are a pair of spongy, air-filled organs located on either side of the chest (thorax). </p>
              <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=fc55f64c-7da1-46d9-8985-cd170f3f9b3b" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Sun.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Sun</h5>
              <p class="card-text">The Sun is the star at the center of the Solar System. It is a nearly perfect sphere of hot plasma, heated to incandescence by nuclear fusion reactions in its core, radiating the energy</p>
              <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=76dda169-a597-486a-aac4-65c5d8e1e682" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Earth.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Earth</h5>
              <p class="card-text">Earth is the third planet from the Sun and the only astronomical object known to harbor and support life.</p>
              <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=04822cbd-84fe-4ab0-afe1-032b90df7d1f" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Pyramid.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Pyramid</h5>
              <p class="card-text">A pyramid is a structure whose outer surfaces are triangular and converge to a single step at the top, making the shape roughly a pyramid.</p>
              <a href="https://console.echoar.xyz/webar?key=snowy-firefly-0544&entry=41c23aa9-9b5e-4fff-90d6-e0539198579c" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="SolarSystem.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Solar System</h5>
              <p class="card-text">The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly.</p>
              <a href="https://go.echoar.xyz/KeLN" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Space Needle.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Space Needle</h5>
              <p class="card-text">The Space Needle is an observation tower in Seattle, Washington, United States. Considered to be an icon of the city and the Pacific Northwest.</p>
              <a href="https://console.echoar.xyz/webar?key=snowy-firefly-0544&entry=25de17ce-56ea-40db-aa88-68371a257827" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Eiffel.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Eiffel Tower</h5>
              <p class="card-text">The Eiffel Tower is a wrought-iron lattice tower on the Champ de Mars in Paris, France. </p>
              <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=92b7cf4a-ee63-49b3-852f-186dec0bdb89" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Colosseum.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Colosseum</h5>
              <p class="card-text">The Colosseum is an oval amphitheatre in the centre of the city of Rome, Italy, just east of the Roman Forum.</p>
              <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=e96e9c40-0c90-4929-8186-b24af025e0e8" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="TREX.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">T-Rex</h5>
              <p class="card-text">Tyrannosaurus is a genus of tyrannosaurid theropod dinosaur. </p>
              <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=2d402140-4cfa-4cd6-a930-c12eb4a84f81" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Mars.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Info about Mars. Info about Mars. Info about Mars. Info about Mars.</p>
              <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=92bdf20f-3655-4f7e-9780-2f01cc59d32f" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
        <div class="col" style="padding:10px;">
          <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
            <img src="Mars.png" class="card-img-top" alt="..." style="height:40%;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Info about Mars. Info about Mars. Info about Mars. Info about Mars.</p>
              <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=92bdf20f-3655-4f7e-9780-2f01cc59d32f" class="btn btn-primary">Link to AR</a>
            </div>
          </div>
        </div>
