<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Webschool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|IBM+Plex+Sans,wght@1,100">
    <style media="screen">
    #buttn
    {
      border-radius: 25px;
    }
    </style>

  </head>
  <body class="bg-dark" style="background-size:95%; background-repeat:no-repeat;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="navbarscroll" style="color:white;">
    <div class="container-fluid">
      <a class="navbar-brand badge bg-primary text-wrap text-center fs-3" href= "/homepage" style="color:white;">WebSchool</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" name="Home" value="Home" href= "/homepage" style="color:black;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" name="Value" value="Value" href= "/aboutpage" style="color:black;">About</a>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
      </div>
    </nav>
    <h1 class="text-center text-wrap bg-primary" style="color:white">Hi. Welcome to WebSchool</h1>
    <div class=" bg-dark text-wrap text-center position-absolute top-50 start-50 translate-middle" style="width:80rem;height:26rem;">
      <div class="container">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-info" style="width:27rem;height:15rem; padding:20px;border-radius:15px; background-color:RGB(255, 111, 97);"><a class="nav-link active fs-1" aria-current="page" href = "/classpage" style="color:black;" name="Class" value="Class">Class</a></button>
            <button type="button" class="btn btn-info" style="width:27rem;height:15rem; padding:20px;border-radius:15px;"><a class="nav-link active fs-1" aria-current="page" href = "/arpage" style="color:black;" name="AR" value="AR">AR</a></button>
          </div>
        </div>
        <div class="col" style="padding:5px;">
          <button type="button" class="btn btn-info" style="width:27rem;height:15rem; padding:20px;border-radius:15px;"><a class="nav-link active fs-1" aria-current="page" href = "/summarizer" style="color:black;" name="Notes" value="Notes">Notes</a></button>
          <button type="button" class="btn btn-info" style="width:27rem;height:15rem; padding:20px;border-radius:15px; background-color:RGB(255, 111, 97);"><a class="nav-link active fs-1" aria-current="page" href = "https://webschoolphp.herokuapp.com/Checkbox_time.html" style="color:black;" href="">TimeTable</a></button>
        </div>
      </div>





    </div>
